*,
:after,
:before {
  border: 0 solid var(--default-border-color);
  box-sizing: border-box;
}
a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
a {
  text-decoration: none;
}
img,
svg {
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  caption-side: bottom;
}
th {
  font-weight: 700;
  text-align: inherit;
  text-align: -webkit-match-parent;
}
tbody,
td,
th,
thead,
tr {
  border: 0 solid;
  border-color: inherit;
}
form {
  margin: 0;
}
label {
  display: inline-block;
}
button {
  background-color: unset;
  border: 0;
  border-radius: 0;
  color: unset;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  text-transform: none;
}
button,
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
[hidden] {
  display: none !important;
}
:root {
  --default-border-color: var(--primary);
}
.color,
.color-p {
  transition: all 0.1s ease-in-out;
}
.color-p {
  color: var(--primary);
}
.clearfix:after {
  clear: both;
  content: "";
  display: block;
}
.truncate {
  -webkit-line-clamp: 1;
}
.truncate {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.truncate-3 {
  -webkit-line-clamp: 3;
}
.truncate-3 {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.box {
  display: block;
  max-width: 1200px;
  width: 100%;
}
.box .col {
  flex: 1 0 0%;
}
.box [class*="lg:col-"],
.box [class*="md:col-"],
.box [class*="sm:col-"],
.box [class*="xl:col-"],
.box [class*="xxl:col-"],
.box [class*="col-"] {
  flex: 0 0 auto;
}
.box {
}
.box-full {
  display: flex;
  max-width: 100%;
}
.row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.row > * {
  flex-shrink: 0;
  max-width: 100%;
  width: 100%;
}
.col-7 {
  width: 58.3333333333%;
}
.col-12 {
  width: 100%;
}
@media (min-width: 640px) {
  .sm\:col-4 {
    width: 33.3333333333%;
  }
  .sm\:col-8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 768px) {
  .md\:col-4 {
    width: 33.3333333333%;
  }
  .md\:col-6 {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .lg\:col-4 {
    width: 33.3333333333%;
  }
  .lg\:col-5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 1536px) {
  .xxl\:col-5 {
    width: 41.6666666667%;
  }
  .xxl\:col-8 {
    width: 66.6666666667%;
  }
}
.sr-only {
  clip: rect(0, 0, 0, 0);
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
[class*=" icon-"],
[class^="icon-"] {
  color: inherit;
  display: flex;
  pointer-events: none;
}
[class*=" icon-"] svg,
[class^="icon-"] svg {
  color: inherit;
  height: inherit;
  pointer-events: none;
  width: inherit;
}
.border-c-p-70 {
  border-color: var(--primary-70);
}
.border-c-p-100 {
  border-color: var(--primary-100);
}
.border-c-p-200 {
  border-color: var(--primary-200);
}
.border-c-p-300 {
  border-color: var(--primary-300);
}
.border-c-p-400 {
  border-color: var(--primary-400);
}
.border-c-purple-300 {
  border-color: var(--purple-300);
}
.border-c-warning {
  border-color: #ff964a;
}
.border-c-danger {
  border-color: #ff5a0a;
}
.c-p {
  color: var(--primary);
}
.c-p-300 {
  color: var(--primary-300);
}
.c-p-400 {
  color: var(--primary-400);
}
.c-p-600 {
  color: var(--primary-600);
}
.c-p-700 {
  color: var(--primary-700);
}
.c-p-800 {
  color: var(--primary-800);
}
.c-p-850 {
  color: var(--primary-850);
}
.c-p-900 {
  color: var(--primary-900);
}
.c-graphite {
  color: #18181a;
}
.c-graphite-25 {
  color: #fafafb;
}
.c-graphite-200 {
  color: #cfcfd1;
}
.c-purple-600 {
  color: var(--purple-600);
}
.c-purple-800 {
  color: var(--purple-800);
}
.c-white {
  color: #fff;
}
.c-yellow {
  color: #ffb319;
}
.c-warning {
  color: #ff964a;
}
.c-danger {
  color: #ff5a0a;
}
.c-success {
  color: #74bd44;
}
.bg-transparent {
  background-color: transparent;
}
.bg-app {
  background-color: var(--app-bg);
}
.bg-p-25 {
  background-color: var(--primary-25);
}
.bg-p-50 {
  background-color: var(--primary-50);
}
.bg-p-70 {
  background-color: var(--primary-70);
}
.bg-p-100 {
  background-color: var(--primary-100);
}
.bg-graphite {
  background-color: #18181a;
}
.bg-purple-300 {
  background-color: var(--purple-300);
}
.bg-purple-600 {
  background-color: var(--purple-600);
}
.bg-purple-800 {
  background-color: var(--purple-800);
}
.bg-white {
  background-color: #fff;
}
.bg-yellow {
  background-color: #ffb319;
}
.bg-success {
  background-color: #74bd44;
}
.tl-auto {
  table-layout: auto;
}
.icon-xxs {
  height: 12px;
  width: 12px;
}
.icon-xs {
  height: 16px;
  width: 16px;
}
.icon-sm {
  height: 20px;
  width: 20px;
}
.icon-md {
  height: 24px;
  width: 24px;
}
.icon-lg {
  height: 32px;
  width: 32px;
}
.icon-xl {
  height: 42px;
  width: 42px;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-help {
  cursor: help;
}
.pe-none {
  pointer-events: none;
}
.pe-all {
  pointer-events: all;
}
.w-0 {
  width: 0;
}
.w-min {
  width: min-content;
}
.w-max {
  width: max-content;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.w-auto {
  width: auto;
}
.w-screen {
  width: 100vw;
}
.h-0 {
  height: 0;
}
.h-max {
  height: max-content;
}
.h-full {
  height: 100%;
}
.h-auto {
  height: auto;
}
.min-h-a {
  min-height: auto;
}
.min-h-screen {
  min-height: 100vh;
}
.min-w-0 {
  min-width: 0;
}
.min-w-max {
  min-width: max-content;
}
.min-w-xxxs {
  min-width: 12rem;
}
.min-w-xs {
  min-width: 20rem;
}
.max-w-min {
  max-width: min-content;
}
.max-w-xs {
  max-width: 20rem;
}
.max-w-sm {
  max-width: 24rem;
}
.max-w-md {
  max-width: 31rem;
}
.max-w-md-m {
  max-width: 35rem;
}
.max-w-lg {
  max-width: 48rem;
}
.max-w-xl {
  max-width: 64rem;
}
.max-w-2xl {
  max-width: 72rem;
}
.max-w-3xl {
  max-width: 80rem;
}
.max-w-4xl {
  max-width: 96rem;
}
.max-w-full {
  max-width: 100%;
}
.flex-column {
  flex-direction: column;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-stretch {
  align-items: stretch;
}
.content-center {
  align-content: center;
}
.align-self-start {
  align-self: flex-start;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}
.justify-self-start {
  justify-self: start;
}
.justify-self-end {
  justify-self: end;
}
.flex-fluid {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}
.o-a {
  overflow: auto;
}
.o-h {
  overflow: hidden;
}
.o-s {
  overflow: scroll;
}
.ox-a {
  overflow-x: auto;
}
.ox-h {
  overflow-x: hidden;
}
.oy-a {
  overflow-y: auto;
}
.oy-h {
  overflow-y: hidden;
}
.inline-block {
  display: inline-block;
}
.grid {
  display: grid;
}
.table {
  display: table;
}
.inline-flex {
  display: inline-flex;
}
.contents {
  display: contents;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.d-none,
.hidden {
  display: none;
}
.rounded {
  border-radius: 4px;
}
.rounded-sm {
  border-radius: 2px;
}
.rounded-md {
  border-radius: 6px;
}
.rounded-lg {
  border-radius: 8px;
}
.rounded-xl {
  border-radius: 12px;
}
.rounded-xxl {
  border-radius: 16px;
}
.rounded-3xl {
  border-radius: 24px;
}
.rounded-5xl {
  border-radius: 48px;
}
.rounded-full {
  border-radius: 9999px;
}
.border {
  border-width: 1px;
}
.border-0 {
  border-width: 0;
}
.border-10 {
  border-width: 10px;
}
.border-t {
  border-top-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-l {
  border-left-width: 1px;
}
.static {
  position: static;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}
.top-0 {
  top: 0;
}
.top-100 {
  top: 100%;
}
.bottom-0 {
  bottom: 0;
}
.bottom-100 {
  bottom: 100%;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.inset-0 {
  inset: 0;
}
.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-10 {
  z-index: 10;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.m-0 {
  margin: 0;
}
.m-10 {
  margin: 10px;
}
.m-n4 {
  margin: -4px;
}
.m-a {
  margin: auto;
}
.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}
.mx-n16 {
  margin-left: -16px;
  margin-right: -16px;
}
.mx-a {
  margin-left: auto;
  margin-right: auto;
}
.my-0 {
  margin-bottom: 0;
  margin-top: 0;
}
.my-4 {
  margin-bottom: 4px;
  margin-top: 4px;
}
.my-8 {
  margin-bottom: 8px;
  margin-top: 8px;
}
.my-12 {
  margin-bottom: 12px;
  margin-top: 12px;
}
.my-16 {
  margin-bottom: 16px;
  margin-top: 16px;
}
.my-20 {
  margin-bottom: 20px;
  margin-top: 20px;
}
.my-24 {
  margin-bottom: 24px;
  margin-top: 24px;
}
.my-36 {
  margin-bottom: 36px;
  margin-top: 36px;
}
.my-62 {
  margin-bottom: 62px;
  margin-top: 62px;
}
.my-n4 {
  margin-bottom: -4px;
  margin-top: -4px;
}
.mt-0 {
  margin-top: 0;
}
.mt-2 {
  margin-top: 2px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-12 {
  margin-top: 12px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-16 {
  margin-top: 16px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-24 {
  margin-top: 24px;
}
.mt-32 {
  margin-top: 32px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-62 {
  margin-top: 62px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-n16 {
  margin-top: -16px;
}
.mt-n62 {
  margin-top: -62px;
}
.mt-a {
  margin-top: auto;
}
.mr-2 {
  margin-right: 2px;
}
.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-12 {
  margin-right: 12px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-a {
  margin-right: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-2 {
  margin-bottom: 2px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-14 {
  margin-bottom: 14px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-36 {
  margin-bottom: 36px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-62 {
  margin-bottom: 62px;
}
.mb-100 {
  margin-bottom: 100px;
}
.ml-0 {
  margin-left: 0;
}
.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-14 {
  margin-left: 14px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-20 {
  margin-left: 20px;
}
.ml-36 {
  margin-left: 36px;
}
.ml-n4 {
  margin-left: -4px;
}
.ml-n8 {
  margin-left: -8px;
}
.ml-n100 {
  margin-left: -100px;
}
.ml-a {
  margin-left: auto;
}
.p-0 {
  padding: 0;
}
.p-4 {
  padding: 4px;
}
.p-8 {
  padding: 8px;
}
.p-10 {
  padding: 10px;
}
.p-12 {
  padding: 12px;
}
.p-14 {
  padding: 14px;
}
.p-16 {
  padding: 16px;
}
.p-20 {
  padding: 20px;
}
.p-24 {
  padding: 24px;
}
.p-36 {
  padding: 36px;
}
.p-48 {
  padding: 48px;
}
.p-62 {
  padding: 62px;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}
.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.px-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}
.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}
.px-62 {
  padding-left: 62px;
  padding-right: 62px;
}
.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}
.py-2 {
  padding-bottom: 2px;
  padding-top: 2px;
}
.py-4 {
  padding-bottom: 4px;
  padding-top: 4px;
}
.py-8 {
  padding-bottom: 8px;
  padding-top: 8px;
}
.py-10 {
  padding-bottom: 10px;
  padding-top: 10px;
}
.py-12 {
  padding-bottom: 12px;
  padding-top: 12px;
}
.py-14 {
  padding-bottom: 14px;
  padding-top: 14px;
}
.py-16 {
  padding-bottom: 16px;
  padding-top: 16px;
}
.py-24 {
  padding-bottom: 24px;
  padding-top: 24px;
}
.py-32 {
  padding-bottom: 32px;
  padding-top: 32px;
}
.py-48 {
  padding-bottom: 48px;
  padding-top: 48px;
}
.py-100 {
  padding-bottom: 100px;
  padding-top: 100px;
}
.pt-0 {
  padding-top: 0;
}
.pt-2 {
  padding-top: 2px;
}
.pt-4 {
  padding-top: 4px;
}
.pt-8 {
  padding-top: 8px;
}
.pt-12 {
  padding-top: 12px;
}
.pt-14 {
  padding-top: 14px;
}
.pt-16 {
  padding-top: 16px;
}
.pt-24 {
  padding-top: 24px;
}
.pt-36 {
  padding-top: 36px;
}
.pt-48 {
  padding-top: 48px;
}
.pt-62 {
  padding-top: 62px;
}
.pt-100 {
  padding-top: 100px;
}
.pr-4 {
  padding-right: 4px;
}
.pr-8 {
  padding-right: 8px;
}
.pr-10 {
  padding-right: 10px;
}
.pr-24 {
  padding-right: 24px;
}
.pr-36 {
  padding-right: 36px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-2 {
  padding-bottom: 2px;
}
.pb-4 {
  padding-bottom: 4px;
}
.pb-8 {
  padding-bottom: 8px;
}
.pb-16 {
  padding-bottom: 16px;
}
.pb-24 {
  padding-bottom: 24px;
}
.pb-32 {
  padding-bottom: 32px;
}
.pb-36 {
  padding-bottom: 36px;
}
.pb-48 {
  padding-bottom: 48px;
}
.pb-62 {
  padding-bottom: 62px;
}
.pb-100 {
  padding-bottom: 100px;
}
.pl-0 {
  padding-left: 0;
}
.pl-4 {
  padding-left: 4px;
}
.pl-8 {
  padding-left: 8px;
}
.pl-10 {
  padding-left: 10px;
}
.pl-14 {
  padding-left: 14px;
}
.pl-16 {
  padding-left: 16px;
}
.pl-24 {
  padding-left: 24px;
}
.gap-2 {
  gap: 2px;
}
.gap-4 {
  gap: 4px;
}
.gap-8 {
  gap: 8px;
}
.gap-10 {
  gap: 10px;
}
.gap-12 {
  gap: 12px;
}
.gap-14 {
  gap: 14px;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}
.gap-24 {
  gap: 24px;
}
.gap-32 {
  gap: 32px;
}
.gap-36 {
  gap: 36px;
}
.gap-48 {
  gap: 48px;
}
.gap-62 {
  gap: 62px;
}
.gap-100 {
  gap: 100px;
}
.fs-11 {
  font-size: 0.6875rem;
}
.fs-12 {
  font-size: 0.75rem;
}
.fs-13 {
  font-size: 0.8125rem;
}
.fs-14 {
  font-size: 0.875rem;
}
.fs-base {
  font-size: 1rem;
}
.fs-18 {
  font-size: 1.125rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.fs-24 {
  font-size: 1.5rem;
}
.fs-26 {
  font-size: 1.625rem;
}
.fs-28 {
  font-size: 1.75rem;
}
.fs-32 {
  font-size: 2rem;
}
.fs-36 {
  font-size: 2.25rem;
}
.fs-40 {
  font-size: 2.5rem;
}
.fs-48 {
  font-size: 3rem;
}
.fs-56 {
  font-size: 3.5rem;
}
.fst-italic {
  font-style: italic;
}
.fst-normal {
  font-style: normal;
}
.fw-n {
  font-weight: 400;
}
.fw-b {
  font-weight: 700;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-underline {
  text-decoration: underline;
}
.font-lufga {
  font-family: var(--font-lufga);
}
.font-mono {
  font-family: var(--font-mono);
}
.ws-nowrap {
  white-space: nowrap;
}
.ws-pre {
  white-space: pre;
}
.text-uppercase {
  text-transform: uppercase;
}
.lh-n {
  line-height: normal;
}
.tw-auto {
  text-wrap: auto;
}
.tw-wrap {
  text-wrap: wrap;
}
.wb-break-all {
  word-break: break-all;
}
.wb-break-word {
  word-break: break-word;
}
@media (min-width: 440px) {
  .xs\:fs-40 {
    font-size: 2.5rem;
  }
}
@media (min-width: 640px) {
  .sm\:w-min {
    width: min-content;
  }
  .sm\:w-auto {
    width: auto;
  }
  .sm\:min-w-xxxs {
    min-width: 12rem;
  }
  .sm\:min-w-md {
    min-width: 31rem;
  }
  .sm\:max-w-xxxs {
    max-width: 12rem;
  }
  .sm\:flex-row {
    flex-direction: row;
  }
  .sm\:justify-end {
    justify-content: flex-end;
  }
  .sm\:align-center {
    align-items: center;
  }
  .sm\:order-0 {
    order: 0;
  }
  .sm\:block {
    display: block;
  }
  .sm\:border-l {
    border-left-width: 1px;
  }
  .sm\:mt-0 {
    margin-top: 0;
  }
  .sm\:mr-16 {
    margin-right: 16px;
  }
  .sm\:mb-0 {
    margin-bottom: 0;
  }
  .sm\:px-12 {
    padding-left: 12px;
    padding-right: 12px;
  }
  .sm\:py-0 {
    padding-bottom: 0;
    padding-top: 0;
  }
  .sm\:py-8 {
    padding-bottom: 8px;
    padding-top: 8px;
  }
  .sm\:pt-0 {
    padding-top: 0;
  }
  .sm\:pl-24 {
    padding-left: 24px;
  }
}
@media (min-width: 768px) {
  .md\:w-auto {
    width: auto;
  }
  .md\:min-w-xs {
    min-width: 20rem;
  }
  .md\:min-w-sm {
    min-width: 24rem;
  }
  .md\:max-w-xxs {
    max-width: 17rem;
  }
  .md\:max-w-xs {
    max-width: 20rem;
  }
  .md\:max-w-md {
    max-width: 31rem;
  }
  .md\:max-w-xl {
    max-width: 64rem;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:justify-end {
    justify-content: flex-end;
  }
  .md\:align-center {
    align-items: center;
  }
  .md\:align-stretch {
    align-items: stretch;
  }
  .md\:flex-fluid {
    flex: 1 1 0%;
  }
  .md\:order-0 {
    order: 0;
  }
  .md\:order-1 {
    order: 1;
  }
  .md\:order-2 {
    order: 2;
  }
  .md\:o-a {
    overflow: auto;
  }
  .md\:block {
    display: block;
  }
  .md\:flex {
    display: flex;
  }
  .md\:hidden {
    display: none;
  }
  .md\:mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .md\:mt-0 {
    margin-top: 0;
  }
  .md\:mt-100 {
    margin-top: 100px;
  }
  .md\:mr-8 {
    margin-right: 8px;
  }
  .md\:mr-14 {
    margin-right: 14px;
  }
  .md\:mr-16 {
    margin-right: 16px;
  }
  .md\:mr-24 {
    margin-right: 24px;
  }
  .md\:mb-0 {
    margin-bottom: 0;
  }
  .md\:mb-24 {
    margin-bottom: 24px;
  }
  .md\:ml-16 {
    margin-left: 16px;
  }
  .md\:ml-24 {
    margin-left: 24px;
  }
  .md\:ml-36 {
    margin-left: 36px;
  }
  .md\:p-24 {
    padding: 24px;
  }
  .md\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .md\:px-36 {
    padding-left: 36px;
    padding-right: 36px;
  }
  .md\:px-48 {
    padding-left: 48px;
    padding-right: 48px;
  }
  .md\:pt-36 {
    padding-top: 36px;
  }
  .md\:pr-62 {
    padding-right: 62px;
  }
  .md\:pb-62 {
    padding-bottom: 62px;
  }
  .md\:pl-48 {
    padding-left: 48px;
  }
  .md\:gap-16 {
    gap: 16px;
  }
  .md\:fs-base {
    font-size: 1rem;
  }
  .md\:fs-48 {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .lg\:w-half {
    width: 50%;
  }
  .lg\:w-auto {
    width: auto;
  }
  .lg\:w-screen {
    width: 100vw;
  }
  .lg\:min-h-screen {
    min-height: 100vh;
  }
  .lg\:min-w-xs {
    min-width: 20rem;
  }
  .lg\:min-w-md {
    min-width: 31rem;
  }
  .lg\:max-w-sm {
    max-width: 24rem;
  }
  .lg\:max-w-lg {
    max-width: 48rem;
  }
  .lg\:max-w-full {
    max-width: 100%;
  }
  .lg\:flex-row {
    flex-direction: row;
  }
  .lg\:flex-row-reverse {
    flex-direction: row-reverse;
  }
  .lg\:justify-start {
    justify-content: flex-start;
  }
  .lg\:align-start {
    align-items: flex-start;
  }
  .lg\:align-center {
    align-items: center;
  }
  .lg\:align-self-start {
    align-self: flex-start;
  }
  .lg\:flex-auto {
    flex: 1 1 auto;
  }
  .lg\:order-1 {
    order: 1;
  }
  .lg\:order-2 {
    order: 2;
  }
  .lg\:table-cell {
    display: table-cell;
  }
  .lg\:block {
    display: block;
  }
  .lg\:flex {
    display: flex;
  }
  .lg\:hidden {
    display: none;
  }
  .lg\:border-b-0 {
    border-bottom-width: 0;
  }
  .lg\:static {
    position: static;
  }
  .lg\:m-0 {
    margin: 0;
  }
  .lg\:my-0 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .lg\:mt-0 {
    margin-top: 0;
  }
  .lg\:mr-4 {
    margin-right: 4px;
  }
  .lg\:mb-0 {
    margin-bottom: 0;
  }
  .lg\:ml-0 {
    margin-left: 0;
  }
  .lg\:ml-100 {
    margin-left: 100px;
  }
  .lg\:p-0 {
    padding: 0;
  }
  .lg\:p-36 {
    padding: 36px;
  }
  .lg\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .lg\:px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .lg\:px-36 {
    padding-left: 36px;
    padding-right: 36px;
  }
  .lg\:px-62 {
    padding-left: 62px;
    padding-right: 62px;
  }
  .lg\:py-24 {
    padding-bottom: 24px;
    padding-top: 24px;
  }
  .lg\:py-36 {
    padding-bottom: 36px;
    padding-top: 36px;
  }
  .lg\:pt-8 {
    padding-top: 8px;
  }
  .lg\:pt-62 {
    padding-top: 62px;
  }
  .lg\:pt-100 {
    padding-top: 100px;
  }
  .lg\:pb-0 {
    padding-bottom: 0;
  }
  .lg\:pb-100 {
    padding-bottom: 100px;
  }
  .lg\:pl-36 {
    padding-left: 36px;
  }
  .lg\:fs-18 {
    font-size: 1.125rem;
  }
  .lg\:fs-20 {
    font-size: 1.25rem;
  }
  .lg\:fs-24 {
    font-size: 1.5rem;
  }
  .lg\:fs-28 {
    font-size: 1.75rem;
  }
  .lg\:fs-56 {
    font-size: 3.5rem;
  }
  .lg\:fs-68 {
    font-size: 4.25rem;
  }
  .lg\:fs-74 {
    font-size: 4.625rem;
  }
  .lg\:text-left {
    text-align: left;
  }
  .lg\:text-right {
    text-align: right;
  }
}
@media (min-width: 1280px) {
  .xl\:max-w-sm {
    max-width: 24rem;
  }
  .xl\:max-w-full {
    max-width: 100%;
  }
  .xl\:flex-row {
    flex-direction: row;
  }
  .xl\:justify-start {
    justify-content: flex-start;
  }
  .xl\:justify-center {
    justify-content: center;
  }
  .xl\:align-start {
    align-items: flex-start;
  }
  .xl\:align-center {
    align-items: center;
  }
  .xl\:align-stretch {
    align-items: stretch;
  }
  .xl\:flex {
    display: flex;
  }
  .xl\:border-l {
    border-left-width: 1px;
  }
  .xl\:mb-0 {
    margin-bottom: 0;
  }
  .xl\:px-36 {
    padding-left: 36px;
    padding-right: 36px;
  }
  .xl\:pt-0 {
    padding-top: 0;
  }
  .xl\:pt-100 {
    padding-top: 100px;
  }
  .xl\:fs-base {
    font-size: 1rem;
  }
  .xl\:fs-20 {
    font-size: 1.25rem;
  }
  .xl\:fs-24 {
    font-size: 1.5rem;
  }
  .xl\:fs-28 {
    font-size: 1.75rem;
  }
  .xl\:fs-40 {
    font-size: 2.5rem;
  }
  .xl\:fs-48 {
    font-size: 3rem;
  }
  .xl\:fs-56 {
    font-size: 3.5rem;
  }
  .xl\:text-left {
    text-align: left;
  }
}
@media (min-width: 1536px) {
  .xxl\:w-max {
    width: max-content;
  }
  .xxl\:w-full {
    width: 100%;
  }
  .xxl\:w-half {
    width: 50%;
  }
  .xxl\:flex-row {
    flex-direction: row;
  }
  .xxl\:justify-start {
    justify-content: flex-start;
  }
  .xxl\:justify-end {
    justify-content: flex-end;
  }
  .xxl\:block {
    display: block;
  }
  .xxl\:flex {
    display: flex;
  }
  .xxl\:hidden {
    display: none;
  }
  .xxl\:absolute {
    position: absolute;
  }
  .xxl\:mt-100 {
    margin-top: 100px;
  }
  .xxl\:pt-100 {
    padding-top: 100px;
  }
  .xxl\:pb-100 {
    padding-bottom: 100px;
  }
  .xxl\:gap-100 {
    gap: 100px;
  }
  .xxl\:fs-56 {
    font-size: 3.5rem;
  }
  .xxl\:text-left {
    text-align: left;
  }
}
